* {
    margin: 0;
    padding: 0;
    background-image: url(/img/background.jpg);
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(32, 28, 28);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    background: transparent;
    color: rgba(17, 15, 15, 0.705);
}

li {
    background: transparent;
}

h1 {
    text-align: right;
    font-size: 5em;
    color: rgba(32, 54, 38, 0.801);
    font-weight: 900;
    background: transparent;
}

h2 {
    font-size: 2.2em;
    color: rgba(8, 13, 56, 0.726);
    background: transparent;
}

span {
    color: rgba(4, 8, 43, 0.726);
    background: transparent;
}

.cajaPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    position: absolute;
}

.cajaPrincipal div {
    background: transparent;
    max-width: 30%;
    padding: 1em;
}

.profilePic {
    opacity: 65%;
    border-radius: 50%;
    width: 17em;
    padding: 0px;
    border: solid 5px rgba(0, 0, 0, 0.726);
}

.picContainer {
    position: relative;
}

.stainImg {
    width: 300px;
    opacity: 80%;
    background: transparent;
}

.stainContainer {
    margin-top: 500px;
    margin-left: 1300px;
    position: absolute;
    background: transparent;
}

.navbar {
    list-style: none;
    background: transparent;
    width: 100%;
    max-width: 1000px;
    padding: 0px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 90%;
}

a:hover {
    color: rgb(241, 68, 37);
}